.cardOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 250px; */
    height: 100px;
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    /* border-radius: 5px; */
}

.card__title {
    font-weight: 400;
    text-align: center;
}

.card__title .card__price {
    font-weight: bold;
}

.image__container_cardOrder {
    width: 50px;
    height: 50px;
    margin: 0 30px 0 0;
}

.image__container_cardOrder img {
    width: 100%;
    object-fit: cover;
}

.card__price_cardOrder {
    text-align: center;
    display: inline-block;
    margin: 0 0 0 auto;
}

@keyframes scaleanimation {
    to {
        transform: translate(20px, -20px) scale(1.05);
        opacity: 1;
    }
}
