$text: #f4f5f5;

$backgroundAll: #131415;
$backgroundElements: #1a222c;

$primaryColor: #e0c521;
$green: #5cb254;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $backgroundAll;
    color: $text;
}
//   ====================================================================

.productsPage {
    .cards__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .heading {
        text-align: center;
        margin-top: 50px;
    }
}
//   ====================================================================

.orderPage {
    background-color: $backgroundElements;

    .orderHeaderEdit {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cardsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .heading {
        text-align: center;
        margin-top: 50px;
    }
}
//   ====================================================================

.checkoutPage {
    background-color: $backgroundElements;

    .heading {
        text-align: center;
        margin-top: 50px;
    }

    .cardsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
}

//   ====================================================================

.CardColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 250px;
    border: 2px solid $primaryColor;
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    border-radius: 5px;

    .card__title {
        font-weight: 400;
        text-align: center;
    }

    .card__title .card__price {
        font-weight: bold;
    }

    .image__container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .image__container img {
        width: 100%;
        object-fit: cover;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card__price {
        text-align: center;
        display: inline-block;
    }

    .card__badge {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: rgb(227, 112, 30);
        border-radius: 50%;
        transform: translate(20px, -20px) scale(1);
        color: #fff;
        font-weight: bold;
        text-align: center;
        border: 2px solid rgb(227, 112, 30);
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 1;
    }

    .card__badge--hidden {
        display: none;
    }
}
//   ====================================================================

.CardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 250px; */
    // height: 100px;
    padding: 0.5rem 0.3rem;
    margin: 13px 10px;
    position: relative;
    /* border-radius: 5px; */

    .card__title {
        font-weight: 400;
        text-align: center;
    }

    .card__title .card__price {
        font-weight: bold;
    }

    .image__container {
        width: 50px;
        height: 50px;
        margin: 0 30px 0 0;
    }

    .image__container img {
        width: 100%;
        object-fit: cover;
    }

    .card__price {
        text-align: center;
        display: inline-block;
        margin: 0 0 0 auto;
    }
}
//   ====================================================================

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;

    .input {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
    }

    .select {
        padding: 10px;
        margin-top: 15px;
    }
}

//   ====================================================================

.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .username {
        margin-left: auto;
    }
}

// Buttons ====================================================================

.btn {
    margin: 20px;

    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 120px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
}

.btn.add {
    background-color: $primaryColor;
}

.btn.remove {
    background-color: tomato;
}

.btn.checkout {
    background-color: $green;
    width: 150px;
    color: #fff;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn.add:active {
    background-color: #ad9a1c;
}

.btn.remove:active {
    background-color: rgb(185, 73, 54);
}

.btn.checkout:active {
    background-color: rgb(30, 93, 41);
}

// ====================================================================

.navLinkEdit {
    text-align: right;
    font-size: 1.2rem;
    color: $green;
    font-weight: 600;
    margin-right: 20px;
}

.totalPrice {
    margin-left: 20px;
}
