$white: #f4f5f5;
$light_grey: #b1bfcf;
$green: #5cb254;

$backgroundAll: #131415;
$backgroundElements: #1a222c;

$yellow: #e0c521;

body {
	background-color: $backgroundAll;
	color: $white;
}

//   ====================================================================

.title {
	text-align: center;
	margin-top: 50px;
}

.countryFlag {
	// padding: 2px;
	margin: 0 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.title_mini {
	// text-align: center;
	// margin: 10px 0 10px 0;
	font-size: 20px;
	font-weight: 600;
	color: white;
	padding: 0.5rem;
	margin: 13px 10px;
}

//   ====================================================================

.pageContainer {
	position: relative;

	background-color: $backgroundElements;

	display: flex;
	flex-direction: column;
	// flex-direction: row;
	justify-content: space-between;

	padding: 0.5rem;

	margin: 10px;
	border-radius: 5px;

	.orderContainer {
		height: 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0.5rem 0.5rem;
		margin: 10px 0px;
		position: relative;

		border: 2px solid $yellow;
		border-radius: 5px;

		.imageContainer {
			height: 100%;
			margin: 0 20px 0 0;
		}

		.imageContainer img {
			height: 20vw;
			object-fit: cover;
		}

		.textContainer {
			word-break: break-all;
			text-align: center;
			display: flex; /* Используем flex-контейнер для вертикального центрирования */
			flex-direction: column; /* Элементы будут располагаться вертикально */
			justify-content: center; /* Выравниваем элементы по центру по вертикали */
			align-items: center; /* Выравниваем элементы по центру по горизонтали */
			width: 100%;

			.text1 {
				color: $white;
				word-wrap: break-word;
				font-size: calc(0.5em + 2vw);
				hyphens: none;
			}
		}
	}

	.cardsContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		border: 2px solid $yellow;
		border-radius: 5px;
	}
}

//   ====================================================================

.CardColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 150px;
	height: 250px;
	border: 2px solid $yellow;
	padding: 0.5rem 0.1rem;
	margin: 13px 10px;
	position: relative;
	border-radius: 5px;

	.card_title {
		font-weight: 400;
		text-align: center;
		text-align: center;
		display: inline-block;
	}

	.cart_text_center {
		text-align: center;
		display: inline-block;
		margin: 10px 0 0 0;
	}

	.image_container {
		margin: 0 auto;
	}

	.image_container img {
		width: 100%;
		object-fit: cover;
		max-height: 90px;
	}

	.card_badge {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		background-color: rgb(227, 112, 30);
		border-radius: 50%;
		transform: translate(20px, -20px) scale(1);
		color: #fff;
		font-weight: bold;
		text-align: center;
		border: 2px solid rgb(227, 112, 30);
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.card_badge_simple {
		padding: 5px;
	}

	.card_badge--hidden {
		display: none;
	}
}
//   ====================================================================

.CardRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem;
	margin: 13px 10px;
	position: relative;

	.image_container {
		width: 50px;
		height: 50px;
		margin: 0 30px 0 0;
	}

	.image_container img {
		width: 100%;
		object-fit: cover;
	}

	.card_row_text {
		text-align: left;
		display: flex;
		align-items: center;
		font-size: calc(0.8rem + 1vw);
		min-width: 70px;
	}
}

.CardRowSmall {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: 10px 0px 10px 10px;
	position: relative;
	overflow: hidden;
	white-space: pre-wrap;
	text-overflow: ellipsis; /* Обрезать текст и добавить многоточие в конце */

	.image_container {
		width: 50px;
		height: 50px;
		margin: 0 20px 0 0;
	}

	.image_container img {
		width: 100%;
		object-fit: cover;
	}

	.cart_text_center {
		text-align: left;
		display: flex;
		align-items: center;
		min-width: 70px;
	}
}
//   ====================================================================

//   ====================================================================

.form {
	background-color: $backgroundElements;

	margin: 10px;
	border-radius: 5px;

	display: flex;
	flex-direction: column;

	.input {
		width: 80%;
		padding: 10px;
		margin: 10px;
	}

	.select {
		width: 80%;
		padding: 10px;
		margin: 10px;
	}
}

// Buttons ====================================================================

.btn {
	padding: 0.6rem 0.8rem;
	font-size: 1.2rem;
	text-align: center;
	border: 0;
	outline: none;
	border-radius: 10px;
	width: 120px;
	margin: 10px;
	box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
	cursor: pointer;
}

.btn.add {
	background-color: $yellow;
}

.btn.remove {
	background-color: tomato;
}

.btn:active {
	transform: scale(0.98);
}

.btn.add:active {
	background-color: #ad9a1c;
}

.btn.remove:active {
	background-color: rgb(185, 73, 54);
}

// ====================================================================

.totalPrice {
	margin-left: 20px;
}

.cafe-text-field-wrap {
	margin-top: 14px;
	color: black;
}

.cafe-text-field {
	color: var(--text-color);
	font-family: var(--default-font);
	font-size: 17px;
	line-height: 21px;
	-webkit-font-smoothing: antialiased;
	padding: 12px 20px 13px;
	box-sizing: border-box;
	display: block;
	outline: none;
	border: none;
	border-radius: 0;
	resize: none;
	-webkit-user-select: auto;
	user-select: auto;
	cursor: auto;
	width: 100%;
}

.cafe-text-field-hint {
	font-family: var(--default-font);
	font-size: 14px;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
	padding: 10px 20px 24px;
	color: grey;
}

.comment_container {
	background-color: $backgroundElements;
	padding: 0.5rem;
	margin: 10px;
	border-radius: 5px;
}

.testText {
	border: solid 1px #396490;
	padding: 0.5rem;
	margin: 10px;
}

// ________________________________________________________________

.topping-circle {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.topping-circle.selected {
	border: 7px solid orange;
	position: relative;
}
.topping-circle.selected::after {
	content: " "+"✓";
	white-space: pre;
	font-weight: bold;
	position: absolute;
	top: 0;
	color: #131415;
	right: 0px;
	width: 20px;
	height: 20px;
	border: 4px solid orange; /* Цвет галочки */
	border-radius: 50%; /* Создаем круглую рамку вокруг галочки */
	background-color: rgb(136, 235, 255); /* Задаем цвет голубого фона */
}

// ________________________________________________________________

.extra-circle {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.extra-circle.selected {
	border: 7px solid tomato;
	position: relative;
}
.extra-circle.selected::after {
	content: " "+"✓";
	white-space: pre;
	font-weight: bold;
	position: absolute;
	top: 0;
	color: #131415;
	right: 0px;
	width: 20px;
	height: 20px;
	border: 4px solid tomato; /* Цвет галочки */
	border-radius: 50%; /* Создаем круглую рамку вокруг галочки */
	background-color: rgb(136, 235, 255); /* Задаем цвет голубого фона */
}

// ---------------------------------------------

.anchor {
	position: relative;
	top: -60px;
}

.nav {
	white-space: nowrap;
	overflow: auto;
	padding: 15px;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	&__inner {
		display: flex;
		list-style: none;
		gap: 10px;
	}

	&__item {
		&:last-child {
			padding-right: 10px;
		}
	}

	&__link {
		display: inline-block;
		color: inherit;
		text-decoration: none;
		padding: 4px 10px;
		border-radius: 20px;

		&_active {
			background-color: #777;
		}
	}
}

// ---------------------------------------